:root {
  --dark-color: #28406a;
  --dark-accent-color: #54546d;
  --main-color: #980aff;
  --light-accent-color: #7b9ce5;
  --light-color: #eae9df;
}

* {
  /* font-family: "Indie Flower", cursive; */
  padding: 0%;
  margin: 0%;
  /* box-sizing: border-box; */
  /* background-color: transparent; */
  /* color: black; */
  /* border: 1px solid red; */
}

.App {
  text-align: center;
  background-color: var(--dark-color);
}

nav {
  padding: 20px;
  background-color: var(--dark-accent-color);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: xx-large;
}

img {
  width: 50%;
  height: 200px;
  border-radius: 20px;
}

h2 {
  color: var(--dark-accent-color);
}

h3 {
  color: var(--main-color);
}

.header {
  background-color: var(--light-accent-color);
  color: var(--dark-color);
}

.header-logo {
  padding: 10px;
  width: 80%;
  height: 50%;
}

.Link {
  color: var(--main-color);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sort-by {
  display: flex;
  flex-direction: rows;
  gap: 5px;
  justify-content: center;
}

.review-card {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: var(--light-color);
  color: var(--dark-accent-color);
}

.review {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: var(--light-color);
  color: var(--dark-accent-color);
}

.comment-card {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: var(--light-color);
  color: var(--dark-accent-color);
}

.user-card {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: var(--light-color);
  color: var(--dark-accent-color);
}

.category-card {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: var(--light-color);
  color: var(--dark-accent-color);
}

.post-comment-form {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: var(--light-color);
  color: var(--dark-accent-color);
}
