:root {
  --dark-color: #28406a;
  --dark-accent-color: #54546d;
  --main-color: #980aff;
  --light-accent-color: #7b9ce5;
  --light-color: #eae9df;
}

/* reset */

* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  background-color: transparent;
}

.App {
  padding: 5px;
  text-align: center;
  background-color: var(--dark-color);
}

nav {
  padding: 20px;
  background-color: var(--light-color);
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: xx-large;
}

img {
  width: 50%;
  height: 200px;
  border-radius: 20px;
}

h2 {
  color: var(--light-color);
}

h3 {
  color: var(--light-color);
}

.header {
  background-color: var(--dark-color);
}

.header-logo {
  padding: 10px;
  width: 80%;
  height: 50%;
}

.Link {
  color: var(--main-color);
}

/* Home */

.home {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  height: 50vh;
  justify-content: space-between;
}

.App-logo {
  display: flex;
  position: absolute;
  top: 50%;
  height: 30%;
  pointer-events: none;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

.home-buttons button {
  background-color: var(--main-color);
  padding: 2.5px;
  border-radius: 5px;
  color: var(--light-color);
}

.footer {
  padding: 20px;
  background-color: var(--light-color);
  margin: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  color: var(--main-color);
  font-size: large;
}

/* Reviews */

.sort-by {
  display: flex;
  flex-direction: rows;
  gap: 5px;
  justify-content: center;
  padding: 5px;
  margin-top: 5px;
}

.sort-by button {
  background-color: var(--main-color);
  color: var(--light-color);
  padding: 5px;
  border-radius: 5px;
}

.sort-by select {
  background-color: var(--main-color);
  color: var(--light-color);
  padding: 5px;
  border-radius: 5px;
}

.post-review-form {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: var(--light-color);
  color: var(--dark-accent-color);
  box-shadow: 5px 5px 10px 0px var(--light-accent-color);
}

.post-review-form button {
  display: flex;
  right: 10px;
  font-size: xx-large;
  color: var(--main-color);
}

.new-category {
  display: flex;
  flex-direction: column;
}

#title {
  background-color: var(--main-color);
  color: var(--light-color);
}

#designer {
  background-color: var(--main-color);
  color: var(--light-color);
}

#pick-category {
  background-color: var(--main-color);
  color: var(--light-color);
}

#category {
  background-color: var(--main-color);
  color: var(--light-color);
}

#description {
  background-color: var(--main-color);
  color: var(--light-color);
}

#newReview {
  background-color: var(--main-color);
  color: var(--light-color);
}

.review-card {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: var(--light-color);
  color: var(--dark-accent-color);
  box-shadow: 5px 5px 10px 0px var(--light-accent-color);
}

.review-card img {
  margin: 5px;
  border: 1px solid var(--main-color);
}

.pagination button {
  background-color: var(--main-color);
  font-size: x-large;
  padding: 2.5px;
  border-radius: 5px;
  color: var(--light-color);
  margin: 10px;
}

/* Review */

.review {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: var(--light-color);
  color: var(--dark-accent-color);
  box-shadow: 5px 5px 10px 0px var(--light-accent-color);
}

.review-votes {
  display: flex;
  flex-direction: row;
  padding: 5px;
  gap: 5px;
  align-items: center;
}

.review-votes button {
  font-size: xx-large;
  color: var(--main-color);
}

.review img {
  margin: 5px;
  border: 1px solid var(--main-color);
}

.post-comment-form {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: var(--light-color);
  color: var(--dark-accent-color);
  box-shadow: 5px 5px 10px 0px var(--light-accent-color);
}
.post-comment-form button {
  display: flex;
  right: 10px;
  font-size: xx-large;
  color: var(--main-color);
}

#newComment {
  background-color: var(--main-color);
  color: var(--light-color);
}

.comment-card {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: var(--light-color);
  color: var(--dark-accent-color);
  box-shadow: 5px 5px 10px 0px var(--light-accent-color);
}

.comment-votes {
  display: flex;
  flex-direction: row;
  padding: 5px;
  gap: 5px;
  align-items: center;
}

.comment-votes button {
  font-size: xx-large;
  color: var(--main-color);
}

#delete {
  display: flex;
  position: absolute;
  right: 10px;
  font-size: large;
  color: var(--main-color);
}

/* Categories */

.category-card {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: var(--light-color);
  color: var(--dark-accent-color);
  box-shadow: 5px 5px 10px 0px var(--light-accent-color);
}

/* Users */

.user-card {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: var(--light-color);
  color: var(--dark-accent-color);
  box-shadow: 5px 5px 10px 0px var(--light-accent-color);
}

.users-list button {
  background-color: var(--main-color);
  padding: 2.5px;
  border-radius: 5px;
  color: var(--light-color);
  margin-top: 5px;
}

#sign-up-button {
  background-color: var(--main-color);
  padding: 2.5px;
  border-radius: 5px;
  color: var(--light-color);
  margin-top: 10px;
}

/* SignUp */

.sign-up-form {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: var(--light-color);
  color: var(--dark-accent-color);
  box-shadow: 5px 5px 10px 0px var(--light-accent-color);
}

.sign-up-form input {
  background-color: var(--main-color);
  color: var(--light-color);
}

.sign-up-form button {
  background-color: var(--main-color);
  padding: 2.5px;
  border-radius: 5px;
  color: var(--light-color);
  margin-top: 5px;
  margin-bottom: 20px;
}

#reset {
  background-color: var(--main-color);
  padding: 2.5px;
  border-radius: 5px;
  color: var(--light-color);
}

@media only screen and (min-width: 768px) {
  .home {
    margin: 25px;
  }

  .App-logo {
    width: 250px;
    padding: 25px;
  }

  .review-card {
    width: 350px;
  }

  .reviews-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .user-card {
    width: 350px;
  }

  .users-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .review img {
    width: 350px;
  }
}
