:root {
  --dark-color: #28406a;
  --dark-accent-color: #54546d;
  --main-color: #980aff;
  --light-accent-color: #7b9ce5;
  --light-color: #eae9df;
}

/* * {
  font-family: "Indie Flower", cursive;
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  border: 1px solid red;
} */

.App {
  text-align: center;
}

.Link {
  padding: 10px;
}
